/* page layout blocks */
body
{
    margin-top: 0;
    background-color: #d4d4d4;
}
header
{}
title
{
    padding: 5px;
}

article {
    position: relative;
    background-color: white;
    border: 1px solid tranparent;
    margin:5%;
    padding:5%;
}

.alignleft   {float:left; margin:5% 0 0 0;}
.aligncenter {text-align:center; margin:0 auto;}
.alignmiddle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%);
    }
.alignright  {float:right; margin:0 0 0 2%;}
.clear       {clear:both;}
.clearright  {clear:right;}
.clearleft   {clear:left;}

.fifty  {width:50%;}
.thirty {width:30%;} 
.fifteen {width:15%;} 
/* anchors */


/* navigation */
.navbar
{
    text-decoration: none;
    background-color: white;
    display: inline-block;
    border:1px solid transparent;
    margin: 1%;
    padding: 1%;

}
.navlist
{
    background-color: white;
    border: none;
}
.navitem
{
    text-decoration: none;
    padding: 2px;
    margin: 2px;
}
nav {text-align:center;}
nav ul {}
nav li 
{
    list-style-type:none;
}
nav a {
    background-color:white;
    color:black;
    display:inline-block;
    font-size:150%;
    margin:2%;
    padding:2%;
    text-decoration:none;
}
nav a:hover {
    
    background-color:gray;
    color:white;
       
    /* Transition */
        -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    
}

nav i[onclick] {cursor:pointer;}


/* typography */
p {font-family:'Roboto', sans-serif;}
ul
{
    list-style-type: none;
    margin:0;
    padding:0;
    font-family:'Roboto', sans-serif;
}
li
{
    float:left;
    display: inline-block;
    background-color: white;
    font-family:'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Roboto', sans-serif;
    font-weight:normal;
    margin:0;
    padding:0;
}
h1 {font-size:350%;}
h2 {font-size:250%;}
h3 {font-size:200%;}
h4 {font-size:150%;}
h5 {font-size:125%;}
h6 {font-size:100%;}

/* embellishments */
.radius {
    -webkit-border-radius: 0 45px 0 53px;/*Safari, Chrome*/
    -moz-border-radius: 0 45px 0 53px;/*Firefox*/
    border-radius: 0 45px 0 53px;
}
.radiusa {
    -webkit-border-radius: 20px 20px 20px 20px;/*Safari, Chrome*/
    -moz-border-radius: 20px 20px 20px 20px;/*Firefox*/
    border-radius: 20px 20px 20px 20px;
}
.circle {
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.boxshadow {
    -webkit-box-shadow: 2px 2px 10px 4px rgba(0,0,0,.10);
    box-shadow: 2px 2px 10px 4px rgba(0,0,0,.10);
}

.tshadow {
    text-shadow: 1px 1px 1px #999;
}
.gradient {
    background: -moz-linear-gradient(90deg, #8C8079 10%, #FFFFFF 100%);/* FF3.6+ */
    background: -webkit-gradient(linear, 90deg, color-stop(15%, #999), color-stop(100%, FFFFFF));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(90deg, #8C8079 10%, #FFFFFF 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(90deg, #8C8079 10%, #FFFFFF 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(90deg, #8C8079 10%, #FFFFFF 100%);/* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
    background: linear-gradient(90deg, #8C8079 10%, #FFFFFF 100%);/* W3C */

}
.shape {
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    
}

.move {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
}
