/* page layout blocks */
body
{
    background-color: #eeeeee;
}
header
{
    background-color:#319df6;
    height:70px;
}
title
{
    padding: 5px;
}

/* anchors */
a{}
a:link{}
a:visited{}
a:hover0
{
  background-color: #eeeeee;
}

/* navigation */
.navbar
{
    text-decoration: none;
    background-color: white;
    display: inline;
    margin-top: 2%;
    padding-top: 2%;

}
.navlist
{
    background-color: white;
}
.navitem
{
    text-decoration: none;
    padding: 7px;
}
.active
{}

/* typography */
p {font-family:'Roboto', sans-serif;}
ul
{
    list-style-type: none;
    margin:0;
    padding:0;
    font-family:'Roboto', sans-serif;
}
li
{
    float:left;
    display: inline;
    background-color: white;
    font-family:'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Roboto', sans-serif;
    font-weight:normal;
    margin:0;
    padding:0;
}
h1 {font-size:350%;}
h2 {font-size:250%;}
h3 {font-size:200%;}
h4 {font-size:150%;}
h5 {font-size:125%;}
h6 {font-size:100%;}

  
